<h1>One</h1>
<XSelect @value={{this.selected}} @onChange={{action (mut this.selected)}} as |xs|>
  <xs.option @value={{1}}>Fred Flintstone</xs.option>
  <xs.option @value={{2}}>Bob Newhart</xs.option>
</XSelect>